h1 {
    color: #5a5a5a;
}

/* adds border around each large cell to make all borders appear the same width */
.border-help {
    border: 2px solid #5a5a5a;
}

.smallRow {
    height: 50px;
}

label {
    width:33.33% !important;
}

/* small cells base styles */ 
[type="radio"]:not(:checked)+label:before, 
[type="radio"]:not(:checked)+label:after, 
[type="radio"]:checked+label:before, 
[type="radio"]:checked+label:after {
    width:100%;
    height:50px;
    margin:0px;
    border: 2px solid #5a5a5a;
    border-radius: 0;
}


[type="radio"]:checked+label:after {
    /* bg color when it is p0's turn */ 
    background-color: #51b7ae;
    /* override materialize style that increases radio button size when checked*/
    -webkit-transform: scale(1.00);
    transform: scale(1.00);
}


/* swap bg color when it is p1's turn */ 
[type="radio"]:checked+.p1-turn:after {
    background-color:#f18b8f;
}

/* small cells chosen by p0 */ 
[type="radio"]:not(:checked)+.p0:before, 
[type="radio"]:not(:checked)+.p0:after, 
[type="radio"]:checked+.p0:before, 
[type="radio"]:checked+.p0:after {
    background-color: #26a69a !important;
    border: 2px solid #5a5a5a !important
}

/* small cells chosen by p1 */ 
[type="radio"]:not(:checked)+.p1:before, 
[type="radio"]:not(:checked)+.p1:after, 
[type="radio"]:checked+.p1:before, 
[type="radio"]:checked+.p1:after {
    background-color: #ee6e73 !important;
    border: 2px solid #5a5a5a !important
}
    
.restart-btn {
    margin-bottom: 20px;
}
